<div ng-if="view_atual == 'listagem'">
	<p ng-if="lista.length == 0">Nenhum registro encontrado.</p>
	<table ng-if="lista.length > 0" class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Valor</th>
				<th>Desconto</th>
				<th>Valor com Desconto</th>
				<th>Status</th>
				<th>Total Produtos</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="elemento_lista in lista">
				<td>{{elemento_lista.id}}</td>
				<td>{{elemento_lista.infos.valor}}</td>
				<td>{{elemento_lista.infos.desconto}}</td>
				<td>{{elemento_lista.infos.valor - elemento_lista.infos.desconto}}</td>
				<td>{{elemento_lista.statusPedido}}</td>
				<td>{{elemento_lista.infos.quantidadeItens}}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-if="view_atual == 'loading'">
	<div ng-include="'loader.html'"></div>
</div>