<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<title>Administração - Elono</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="css/sticky-footer-navbar.css" rel="stylesheet">
		<link href="css/sweetalert.css" rel="stylesheet">
		<link href="css/commons.css" rel="stylesheet">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-route.min.js"></script>
		<script type="text/javascript" src="js/commons.js"></script>
		<script type="text/javascript" src="js/admin/app.js"></script>
		<script type="text/javascript" src="js/admin/controllers.js"></script>
		<script type="text/javascript" src="js/value/configValue.js"></script>
		<script type="text/javascript" src="js/sweetalert-dev.js"></script>
	</head>
	<body ng-app="adminApp" ng-controller="adminController">
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Elono</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li ng-repeat="template in templates" ng-click="changeTemplate(template.url)" ng-class="current_template == template.url ? 'active' : ''">
							<a href="#{{template.url}}">{{template.nome}}</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Sair</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
		<!-- Begin page content -->
		<div class="container">
			<div ng-view></div>
		</div>
		<footer class="footer">
			<div class="container">
				<p class="text-muted">&copy; Elono - Todos direitos reservados</p>
			</div>
		</footer>
	</body>
</html>